
<div id="divChart1" class="divChart">
    <canvas id="myChart"></canvas>
</div>
<button class="btn btn-success btn-block" (click)="openPDF('divChart1')">Descargar grafico</button>
<div id="divChart2" class="divChart">
    <canvas id="myChart2"></canvas>
</div>
<button class="btn btn-success btn-block" (click)="openPDF('divChart2')">Descargar grafico</button>
<div id="divChart3" class="divChart">
    <canvas id="myChart3"></canvas>
    <button class="btn btn-success btn-block" (click)="openPDF('divChart3')">Descargar grafico</button>
</div>
<div id="divChart4" class="divChart">
    <canvas id="myChart4"></canvas>
    <button class="btn btn-success btn-block" (click)="openPDF('divChart4')">Descargar grafico</button>
</div>