
<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2  [ngClass]="btnFormulario.inciarSesion ? 'active' :  'inactive underlineHover'" > Iniciar Sesion </h2>    
  
      <!-- Login Form -->
      <div *ngIf="btnFormulario.inciarSesion">
        
          <form id="iniciarSesionForm">
            <input type="text" id="user" class="fadeIn second" [(ngModel)]="user" name="user" placeholder="Usuario">
            <input type="text" id="password" type="password" class="fadeIn third" [(ngModel)]="password" name="password" placeholder="Contraseña">
            <input type="submit" class="fadeIn fourth" value="Iniciar Sesion" (click)="VerificarUsuario()" >

            <input type="submit" class="fadeIn fourth" value="Regristrarse" style="margin-bottom: 20px;color: #56baed;background-color: white;" [routerLink]="'/registro'" >

            <input type="submit" style="margin-bottom: 20px;" (click)="user = 'satan97450@peogi.com'; password = '123123'"  class="fadeIn fourth" value="Especialista"  >
            <input type="submit" style="margin-bottom: 20px;" (click)="user = 'xawiro8204@pyadu.com'; password = '123123'"  class="fadeIn fourth" value="Paciente"  >
            <input type="submit" style="margin-bottom: 20px;" (click)="user = 'mobaxoj782@onlcool.com'; password = '123123'"  class="fadeIn fourth" value="Admin"  >

            </form>
      </div>
     
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Regresar a 'Bienvenidos'</a>
      </div>
  
    </div>
    
  </div>
  