<div id="formContent">
    <!-- Tabs Titles -->
    
    <ul class="nav nav-pills">

        <li class="nav-item">
        <a (click)="CambiarFormulario('datosPrincipales'); " [ngClass]="btnForms.datosPrincipales ? 'nav-link active' :  'nav-link'" aria-current="page">Datos del Especialista</a>
        </li>          
        <li class="nav-item">
            <a (click)="CambiarFormulario('horariosDisponibles'); " [ngClass]="btnForms.horariosDisponibles ? 'nav-link active' :  'nav-link'" aria-current="page">Horarios Disponibles</a>
        </li>  

    </ul>

    <hr>

    <div id="datosPrincipales" *ngIf="btnForms.datosPrincipales">
        
        
        <h1>Informacion del usuario</h1>
        <h5> Nombre: {{datosUsuario.nombre}}</h5>
        <h5>Apellido: {{datosUsuario.apellido}}</h5>
        <h5>Edad: {{datosUsuario.edad}}</h5>
        <h5>DNI: {{datosUsuario.dni}}</h5>
        <h5>Mail:  {{datosUsuario.mail}}</h5>

        <div *ngIf="datosUsuario">
            <div *ngFor="let item of datosUsuario.imagen">

                <img [src]="item" class="imgBtn" >
            </div>
        </div>
    </div>

    <div id="horariosDisponibles" *ngIf="btnForms.horariosDisponibles">
        <div >           
            
            
            <br><br>
            <!-- DIAS Y HORAS DEL ESPECIALISTA-->
            <div *ngIf="horasConDiasEsp">
                
                <h2>Dias y Horarios actuales disponibles:</h2>
                <br>
                <label for="">Lunes:</label>
                <span class="example-additional-selection">             
                    {{horasConDiasEsp.Lunes}} ,                   
                </span>
                <br>
                <label for="">Martes:</label>
                <span class="example-additional-selection">             
                    {{horasConDiasEsp.Martes}} ,                   
                </span>
                <br>
                <label for="">Miercoles:</label>
                <span class="example-additional-selection">             
                    {{horasConDiasEsp.Miercoles}} ,                   
                </span>
                <br>
                <label for="">Jueves:</label>
                <span class="example-additional-selection">             
                    {{horasConDiasEsp.Jueves}} ,                   
                </span>
                <br>
                <label for="">Viernes:</label>
                <span class="example-additional-selection">             
                    {{horasConDiasEsp.Viernes}} ,                   
                </span>
                <br>
                <label for="">Sabado:</label>
                <span class="example-additional-selection">             
                    {{horasConDiasEsp.Sabado}} ,                   
                </span>
                <br>
                <label for="">Domingo:</label>
                <span class="example-additional-selection">             
                    {{horasConDiasEsp.Domingo}} ,                   
                </span>
                
                <br><br>
            </div>
            <!-- FIN DIAS Y HORAS DEL ESPECIALISTA-->
            
            <h2>Seleccionar dia:</h2>

            <mat-form-field>
                <mat-label>Dia de la semana</mat-label>
                <mat-select>
                  <mat-option *ngFor="let food of foods" [value]="food.value" (click)="CambioDia(food.viewValue)">
                    {{food.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            <div *ngIf="diaSeleciconado">

                <h2>Actualizar horarios:</h2>
    
                <mat-form-field>
                    <mat-label>Seleccione sus horarios disponibles</mat-label>
                    <mat-select [formControl]="toppings" multiple>
    
                        <mat-select-trigger>
                            
                            <!--<span *ngIf="(toppings.value?.length || 0) > 1" class="example-additional-selection">
                            (+{{(toppings.value?.length || 0) - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
                            </span>-->
                            <span *ngFor="let item of toppings.value" class="example-additional-selection">
                                {{item}} ,
                            </span>
                        </mat-select-trigger>
    
                        <mat-option *ngFor="let topping of horariosDiasDeSemana" [value]="topping">
                            {{topping}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

               
            </div>

            <button class='btn btn-primary btn-lg btn-block' (click)="GuardarHorarios()">Guardar Nuevos Horarios</button>
            <br><br>
        </div>
        
    </div>

</div>


