
.btnSeleccionarFecha{
  width: 50%;
}
.selectCustom{
    width: 100%!important;
    margin: auto;
    margin-bottom: 20px;
  }
  .contenedorDeUsuarios{
   width: 50%;
  }
.btsEspecialidad{
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-size: 110px!important;
  background-repeat: no-repeat!important;
  background-position: center!important;
  
}
.imgEspecialidad{
  border-radius: 50%;
  width: 110px;
  height: 110px;  
}
.divEspecialidad{
  margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}
  
  select, input[type=text], [type=password]  {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }