<div class="container">

    <app-loading-comp [inputMostrarModal]="false"></app-loading-comp>

    <br>
    <br>
    <br>
    <br>
   
        <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
            <header class="masthead mb-auto">
              
            </header>
      
            <main role="main" class="inner cover">
              <h1 class="cover-heading">Bienvenidos</h1>
              <p class="lead">La clínica OnLine, especialista en salud, cuenta actualmente con consultorios (6 en la actualidad),
                dos laboratorios (físicos en la clínica), y una sala de espera general. Está abierta al público de lunes a
                viernes en el horario de 8:00 a 19:00, y los sábados en el horario de 8:00 a 14:00.</p>
              <p class="lead">Trabajan en ella profesionales de diversas especialidades, que ocupan los consultorios acorde a su
                disponibilidad, y reciben en ellos pacientes con turno para consulta o tratamiento. Dichos turnos son
                pedidos por la web seleccionando el profesional o la especialidad. La duración mínima de un turno es
                30 minutos</p>
              <p class="lead">
                <button [routerLink]="'/login'"type="button" class="btn btn-outline-primary">Iniciar Sesion</button>
                <button [routerLink]="'/registro'" type="button" class="btn btn-outline-primary">Registrarse</button>
              </p>
            </main>
      
           <!-- <footer class="mastfoot mt-auto">
              <div class="inner">
                <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
              </div>
            </footer>
            -->
          </div>
</div>